@import '../../globals/vars.scss';

.community-url {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;

  &__icon {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $grey;
    max-width: 180px;
  }

  &:hover {
    .community-url__text {
      text-decoration: underline;
    }
  }
}
