@import '../../globals/vars';

.checkbox {
  display: inline-flex;
  align-items: center;

  min-width: 20px;
  min-height: 20px;
  margin: 5px 15px;

  &__input {
    display: none;

    &:checked + label {
      &::before {
        background-color: $green;
      }

      &::after {
        opacity: 1;
      }
    }

    &:disabled + label {
      cursor: default;

      &::after {
        background: url(./img/cross.svg) no-repeat 50% 50%;
        opacity: 1;
      }

      & .checkbox__text {
        color: $grey2;
      }
    }

    &:checked:disabled + label {
      &::before {
        background-color: $light-grey;
      }
      &::after {
        background: url(./img/check_disabled.svg) no-repeat 50% 50%;
        opacity: 1;
      }
      & .checkbox__text {
        color: $black;
      }
    }
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    color: $black;
    white-space: nowrap;
  }

  label {
    position: relative;
    display: inline-flex;
    align-items: center;

    min-height: 20px;
    padding-left: 30px;

    cursor: pointer;
    user-select: none;

    &::before {
      position: absolute;
      display: block;
      content: '';

      background-color: $light-grey;
      border-radius: 5px;

      width: 20px;
      height: 20px;
      top: 0;
      left: 0;

      transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

    &::after {
      position: absolute;
      display: block;
      content: '';

      background: url(./img/check.svg) no-repeat 50% 50%;

      width: 16px;
      height: 16px;
      top: 2px;
      left: 2px;

      opacity: 0;
      transition: opacity 0.3s ease, background 0.3s ease;
    }
  }

  &:hover {
    .checkbox__input:not(:disabled) + label {
      &::before {
        box-shadow: 0 0 0 2px $green;
      }
    }
  }

  &--third + label {
    &::after {
      position: absolute;
      display: block;
      content: '';

      background-color: $white;
      border-radius: 1px;

      width: 12px;
      height: 2px;
      top: 9px;
      left: 4px;

      transition: opacity 0.3s ease, background 0.3s ease;
    }
  }

  &--big {
    min-width: 30px;
    min-height: 30px;
    margin: 10px 15px;

    & .checkbox__text {
      font-size: 20px;
      line-height: 26px;
      margin-top: 2px;
    }

    label {
      min-height: 30px;
      padding-left: 45px;

      &::before {
        border-radius: 10px;

        width: 30px;
        height: 30px;
      }

      &::after {
        width: 26px;
        height: 26px;
      }
    }

    & .checkbox--third + label {
      &::after {
        width: 16px;
        height: 2px;
        top: 14px;
        left: 7px;
      }
    }
  }
}
