// White & Black
$white: #FFFFFF;
$black: #000000;

// Background colors
$bg-light: #F6F6F6;
$bg-dark: #F2F2F2;
$bg-tag: #E6E6E6;

// Grey colors
$light: #D9D9D9;
$grey: #999999;
$dark: #666666;
$super-dark: #444444;

// Accent colors
$blue: #311E9D;
$red: #FE5F55;
$green: #C5D86D;
$orange: #F7B801;
$deep: #AA60F6;
$high: #EAE8FF;

// Grade colors
$grade-a-plus: #FFDA00;
$grade-a: #E0B900;
$grade-b: #FF7100;
$grade-c: #FF0000;
$grade-d: #BEBEBE;

// ADAPTIVE SCREEN SIZE
$max-width-small: 374px;
$max-width-small-fixed: 428px;
$max-width-mobile: 639px;
$max-width-mobile-fixed: 768px;
$max-width-tablet: 1023px;
$max-width-laptop: 1279px;
$max-width-desktop: 1439px;
$max-width-big: 1920px;

// ========================== DARK THEME ==========================

// White & Black
//$white: #111111;
//$black: #FFFFFF;

// Background colors
//$bg-light: #F6F6F6;
//$bg-dark: #F2F2F2;
//$bg-tag: #E6E6E6;

// Grey colors
//$light: #404040;
//$grey: #888888;
//$dark: #666666;
//$super-dark: #444444;

// Accent colors
//$blue: #0083FF;
//$red: #FE5F55;
//$green: #C5D86D;
//$orange: #F7B801;
//$deep: #3A1772;
//$high: #EAE8FF;
