@import '../../globals/vars';

.input-group {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  margin: -5px -15px;

  & > * {
    //margin: 5px 15px
  }

  &--big {
    margin: -10px -15px;
  }

  &--column1 {
    flex-direction: column;
  }

  &--column2 {
    & > * {
      flex: 0 0 calc(50% - 30px);
    }
  }
}
