{
  "presets": [
    ["@babel/preset-env", { "targets": { "node":  "current" } }],
    "@babel/react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/proposal-class-properties", { "legacy": false }],
    "@babel/plugin-proposal-export-default-from",
    "styled-jsx/babel",
    "react-hot-loader/babel"
  ]
}

