@import '../../../globals/vars';

.remove-dialog{
  &__description{
    min-width: 190px;
    padding: 10px 15px;
    text-align: center;
    color: $black;
    & > * + *{
      margin-top: 8px;
    }
  }
}