@import '../../styles/globals/vars';
@import '../../styles/globals/fonts';

.element {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;

  background-color: $bg-light;
  border-radius: 16px;
  width: 100%;
  padding: 10px 10px 10px 16px;

  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  .icon {
    margin-right: var(--module-xs);
    //margin-left: 6px;

    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    fill: $light;

    transition: fill 0.3s ease;
  }

  .input {
    position: relative;
    display: flex;
    flex: 1;

    .label {
      position: absolute;
      top: 6px;

      @include FontTextM();
      font-weight: 500;
      color: $light;

      transition: top 0.15s ease, font-size 0.15s ease, font-weight 0.15s ease, color 0.15s ease;
      user-select: none;
    }

    .text {
      width: 100%;

      background-color: inherit;
      border: none;
      padding: 0;
      margin-top: 12px;

      @include FontTextM();
      font-weight: 500;
      color: $super-dark;

      outline: none;
      cursor: inherit;
      transition: top 0.15s ease, font-size 0.15s ease, color 0.15s ease;
    }
  }

  .icons {
    display: flex;
    margin-right: 6px;

    & > * {
      &:not(:last-child) {
        margin-left: var(--module-xs);
      }

      margin-left: 0;
    }

    .iconStatus {
      flex: 0 0 24px;
      width: 24px;
      height: 24px;
      fill: $bg-tag;

      transition: fill 0.3s ease;
    }

    .iconClear {
      flex: 0 0 24px;
      width: 24px;
      height: 24px;
      fill: $bg-tag;

      cursor: inherit;
      transition: fill 0.3s ease;

      &:hover {
        cursor: pointer;
        fill: $blue !important;
      }
    }
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $bg-tag;
    border-radius: 8px;
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
    margin-left: 2px;
    cursor: pointer;

    transition: background-color 0.3s ease;

    .iconArrow {
      flex: 0 0 24px;
      width: 24px;
      height: 24px;
      fill: $white;

      cursor: inherit;
      transition: fill 0.3s ease;
    }

    &:hover:not(.disabled) {
      background-color: #{darken($blue, 10%)};
    }
  }

  &:hover:not(.disabled) {
    box-shadow: 0 0 0 2px $light;

    .icons {
      .iconClear {
        fill: $light;
      }
    }
  }
}

.focus, .filled {
  cursor: text;

  .icon {
    fill: $blue;
  }

  .input {
    .label {
      @include FontTextXS();
      font-weight: normal;
      top: 0;
      color: $grey;
    }

    .text {
      cursor: inherit;
    }
  }

  .button {
    background-color: $blue;
  }
}

.focus {
  box-shadow: 0 0 0 2px $green !important;

  .icons {
    .iconClear {
      fill: $light;
    }
  }

  .button {
    background-color: $blue;
    cursor: pointer;
  }
}

.disabled {
  cursor: not-allowed;
  background-color: $white;
  box-shadow: 0 0 0 2px $bg-dark;

  .icon {
    fill: $light;
  }

  .input {
    .label, .text {
      color: $light;
    }
  }

  .button {
    background-color: $bg-dark;
  }
}

.complete {
  .icon {
    fill: $green !important;
  }

  .icons {
    .iconStatus {
      fill: $green !important;
    }
  }
}

.warning {
  box-shadow: 0 0 0 2px $orange !important;

  .icon {
    fill: $orange !important;
  }

  .icons {
    .iconStatus {
      fill: $orange !important;
    }
  }
}

.error {
  box-shadow: 0 0 0 2px $red !important;

  .icon {
    fill: $red !important;
  }

  .icons {
    .iconStatus {
      fill: $red !important;
    }
  }
}

.landing {
  background-color: $white;
  box-shadow: 0 0 0 2px $bg-tag;
}

.white {
  background-color: $white;
}

// Большое поле ввода

.big {
  border-radius: 44px;
  padding: 16px;

  @media screen and (max-width: $max-width-tablet) {
    border-radius: 38px;
  }

  @media screen and (max-width: $max-width-mobile-fixed) {
    border-radius: 26px;
    padding: 8px;
  }

  .icon {
    flex: 0 0 var(--icon-l);
    width: var(--icon-l);
    height: var(--icon-l);
    margin-right: var(--module-s);
    margin-left: 12px;

    @media screen and (max-width: $max-width-tablet) {
      margin-left: 10px;
    }

    @media screen and (max-width: $max-width-mobile-fixed) {
      display: none;
    }
  }

  .input {
    .label {
      @include FontTextL();
      font-weight: 500;

      top: 10px;

      @media screen and (max-width: $max-width-tablet) {
        top: 6px;
      }

      @media screen and (max-width: $max-width-mobile-fixed) {
        top: 6px;
        margin-left: 8px;
      }
    }

    .text {
      margin-top: 16px;

      @include FontTextL();
      font-weight: 500;

      @media screen and (max-width: $max-width-tablet) {
        margin-top: 12px;
      }

      @media screen and (max-width: $max-width-mobile-fixed) {
        margin-left: 8px;
      }
    }
  }

  .icons {
    margin-right: 0;

    & > * {
      &:first-child {
        margin-left: var(--module-s);
      }

      margin-left: 0;
    }

    .iconClear {
      flex: 0 0 var(--icon-l);
      width: var(--icon-l);
      height: var(--icon-l);

      @media screen and (max-width: $max-width-mobile-fixed) {
        display: none;
      }
    }
  }

  .button {
    border-radius: 50%;
    flex: 0 0 56px;
    width: 56px;
    height: 56px;
    margin-left: var(--module-s);

    .iconArrow {
      flex: 0 0 var(--icon-l);
      width: var(--icon-l);
      height: var(--icon-l);
    }

    @media screen and (max-width: $max-width-tablet) {
      flex: 0 0 44px;
      width: 44px;
      height: 44px;
    }

    @media screen and (max-width: $max-width-mobile-fixed) {
      flex: 0 0 36px;
      width: 36px;
      height: 36px;
    }
  }

  &.focus, &.filled {
    .input {
      .label {
        @include FontTextXS();
        font-weight: normal;
        top: 4px;

        @media screen and (max-width: $max-width-tablet) {
          top: 0;
        }
      }
    }
  }
}

// Маленькое поле ввода (в выпадашке обычно)

.small {
  border-radius: 8px;
  padding: 8px;

  .input {
    .label {
      top: 8px;

      @include FontTextS();
      font-weight: 500;
    }

    .text {
      margin-top: 12px;

      @include FontTextS();
      font-weight: 500;
    }
  }

  .icons {
    & > * {
      &:first-child {
        margin-left: var(--module-xs);
      }
      margin-right: 0;
    }

    .iconClear {
      flex: 0 0 20px;
      width: 20px;
      height: 20px;
    }
  }

  &.focus, &.filled {
    .input {
      .label {
        @include FontTextXS();
        font-weight: normal;
        top: 0;
      }
    }
  }
}
