@font-face {
  font-family: 'SF Display';
  src: url('../../assets/fonts/SFUIDisplay-Regular.woff2') format('woff2'),
  url('../../assets/fonts/SFUIDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Display';
  src: url('../../assets/fonts/SFUIDisplay-Bold.woff2') format('woff2'),
  url('../../assets/fonts/SFUIDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Display';
  src: url('../../assets/fonts/SFUIDisplay-Semibold.woff2') format('woff2'),
  url('../../assets/fonts/SFUIDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../../assets/fonts/Circe-Bold.woff2') format('woff2'),
  url('../../assets/fonts/Circe-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../../assets/fonts/Circe-Regular.woff2') format('woff2'),
  url('../../assets/fonts/Circe-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../../assets/fonts/Circe-ExtraBold.woff2') format('woff2'),
  url('../../assets/fonts/Circe-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../../assets/fonts/Circe-Light.woff2') format('woff2'),
  url('../../assets/fonts/Circe-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../../assets/fonts/Circe-Thin.woff2') format('woff2'),
  url('../../assets/fonts/Circe-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../../assets/fonts/Circe-ExtraLight.woff2') format('woff2'),
  url('../../assets/fonts/Circe-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
