// FONTS
$main: Arial, Helvetica, sans-serif;
$sf-display: "SF Display", Arial, Helvetica, sans-serif;
$circe: "Circe", Arial, Helvetica, sans-serif;

$min_width: 1280px;
$max_width: 1920px;
$min_font: 15px;
$max_font: 20px;

$root-font-size: 15px;

$content_width: 1140px;

// COLORS

$white: #fff;
$light: #f9f9f9;
$light-grey: #f2f2f2;
$grey1: #e6e6e6;
$grey2: #d9d9d9;
$grey: #999;
$dark-grey: #444;
$black: #000;

$blue: #311E9D;
$light-blue: #dbe6ff;
$red: #ee2e30;
$green: #91d339;

// GRADE COLORS

$grade-a-plus: #FFDA00;
$grade-a: #E0B900;
$grade-b: #FF7100;
$grade-c: #FF0000;
$grade-d: #BEBEBE;

// DASHBOARDS BRANDS

$dark-orange: #f16527;
$warning: #ee722e;
$sky: #56a1e8;
$btn-pink: #f47a80;
$btn-green: #9ed753;
$btn-orange: #f99f45;

// SOCIAL NETWORKS

$fb: #1877f2;
$vk: #4d75a3;
$ok: #ed812b;
$tw: #00aced;
$ig: #fd1d1d;
$gp: #dc4e41;
$yt: #cd201f;
$pi: #bd081c;
$mt: #fc2c38;
$tg: #30a3e6;

// ADAPTIVE SCREEN SIZE

$m: 320px;
$maxm: 549px;
$t: 550px;
$maxt: 1023px;
$d: 1024px;
