@import '../../globals/vars';

.header-account {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;

  max-width: 205px;
  background-color: #311E9D;
  border-radius: 18px;
  padding: 4px 4px 4px 12px;

  transition: background-color 0.3s ease;

  &__name {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: $white;

    margin: 4px;

    max-width: 153px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__image {
    flex: 0 0 28px;
    width: 28px;
    height: 28px;
  }

  &:hover {
    cursor: pointer;
    background-color: darken(#311E9D, 10%);
  }
}
