@import '../../globals/vars';

.header-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 285px;
  margin-left: auto;

  :nth-child(2) {
    flex: 0 1 auto;
  }
}
